<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="cricket" class="org.rks07.Cricket">

</bean>

<bean id="football" class="org.rks07.Football" scope="prototype">
<!--   Now since the scope is of prototype the object will be created each times getBeans is called -->
</bean>
</beans>