<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cricket" class="org.rks07.Cricket">
        <property name="time" value="7">

        </property>
        <property name="when" ref="ti">

        </property>
    </bean>

<!--    Lazy init will load this only when this class in called 1st time  only when it is not dependent on any other beans-->
    <bean id ="ti" class="org.rks07.When" lazy-init="true" >

    </bean>
    <bean id="football" class="org.rks07.Football" scope="prototype">
    <!--   Now since the scope is of prototype the object will be created each times getBeans is called -->
    </bean>

    <bean id ="jevlin" class="org.rks07.Jevlin">
<!--        sequence matters  should be in the same order -->
        <constructor-arg value ="89" />
        <constructor-arg ref ="ti" />
        <constructor-arg value ="89" />

<!--        another way is to provide index-->
<!--        example : <con...  index= "1"  ref="ti" -->

<!--        using name="abc" for this we have to define annotations in class file in the sequence-->

<!--        index is recommended way :)-->
    </bean>

</beans>